@tailwind base;

@layer base {
  h1 {
  @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  a {
    @apply text-blue-600 underline;
}}

@tailwind components;
@tailwind utilities;

@layer components {
  /* Layout Component */
  .layout-div {
    @apply min-h-screen flex flex-col 
  }
  /* Main Children */
  .main-div {
    @apply flex flex-col items-center self-center w-screen md:w-1/2 font-custom mt-16 sm:mt-32 pb-8 p-2
  }
  .main-h1 {
    @apply m-2 self-start mt-6
  }
  .main-text {
    @apply m-2 p-2
  }
  /* Header Component */
  .header-div {
    @apply border-b shadow flex flex-col font-display fixed top-0 z-10 bg-white w-screen opacity-90
  }
  .header-upper {
    @apply flex flex-row justify-between items-center h-16 
  }
  .header-lower {
    @apply hidden md:flex flex-row justify-between  mr-8 ml-60 
  }
  .header-menu-item {
    @apply flex flex-row  p-1 hover:bg-slate-200 active:bg-slate-100 m-1 rounded hover:cursor-pointer
  }
  .header-title {
    @apply m-1 font-display p-1 hover:bg-slate-200 active:bg-slate-100 rounded hover:cursor-pointer
  }
  .menu-icon {
    @apply m-2 p-2 rounded-full text-xl  text-black hover:bg-slate-200 active:bg-slate-100
  }
  /* Footer Component */
  .footer-div {
    @apply bg-slate-100 h-24 
  }
  /* Menu */
  .menu-div {
    @apply fixed flex flex-col z-10 bg-white w-screen h-screen justify-between  items-center pb-16
  }
  .menu-item {
    @apply text-lg w-full flex flex-row justify-center hover:bg-slate-200 active:bg-slate-100 hover:cursor-pointer rounded py-2
  }

  /* Home */
  .home-tile {
    @apply my-16 flex flex-col items-center
  }
  .home-tile-h2 {
    @apply mb-2 self-start
  }
  .home-tile-p {
    
  }
  /* News Feed */
  /* Zazen */
  /* Links */
  /* Gallery */
  .gallery-img {
    @apply py-8
  }
  /* Contact Form */
  .contact-form{
    @apply flex flex-col sm:w-2/3 p-2 self-center
  }
  .form-input-label-div{
    @apply flex flex-col p-2 m-2
  }
  .form-input{
    @apply border border-black rounded-md p-1
  }
  .form-text{
    @apply border border-black rounded-md p-1
  }
  .form-submit-btn{
    @apply py-1 w-16 rounded shadow bg-blue-500 text-white self-end
  }
}

.main-div {
  min-height: calc(100vh - 10rem);
}

.menu-div {
  animation: slide-in .75s ;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}